footer#site-footer.main-footer.bg-dark.text-white-50(data-sticky-footer='true')
  section.lqd-section.module-top.pt-70
    .container
      .row.items-center
        .w-40percent.relative.flex.flex-wrap.content-start.module-col(class='lg:w-50percent sm:w-full')
          .ld-fancy-heading.relative
            h4.ld-fh-element.inline-block.relative.text-50.-tracking-1.text-white(class='mb-0/35em') Let&apos;s Create Your Dream Space.
          .flex.justify-start.items-center
            a.button.btn.text-14.font-bold.uppercase.leading-1em.tracking-1.text-black.border-2.rounded-100.whitespace-nowrap.px-1em.text-white.border-white.bg-white-0.mr-10(href='#contact-modal' class='py-0/6em' data-lity='#contact-modal')
              span.btn-txt(data-text='contact us') contact us
            a.text-14.font-bold.uppercase.leading-1em.tracking-1.text-black.rounded-100.btn.btn-solid.btn-custom-size.btn-icon-block.btn-icon-top.w-35.h-35.bg-accent.mr-10.border-none.p-0.w-35.h-35(href='#' target='_blank' rel='nofollow')
              span.btn-icon.w-1em
                svg(xmlns='http://www.w3.org/2000/svg' width='10.625' height='10.625' viewbox='0 0 10.625 10.625')
                  path(d='M-1.76-11.322H5.313V-4.25H3.885V-8.932L-4.316-.7l-1-1,8.2-8.234H-1.76Z' transform='translate(5.313 11.322)')
        .w-60percent.relative.flex.flex-col.pl-200(class='sm:w-full lg:p-0')
          .absolute.max-w-full.top-0.ltr-right-0
            .lqd-imggrp-single.block.relative
              .lqd-imggrp-img-container.inline-flex.relative.items-center.justify-center
                figure.w-full.relative
                  img(width='48' height='48' src='./assets/images/shape/arrow-2.svg' alt='shape arrow')
        .max-w-full.relative.flex.flex-grow-1
          .divider.w-full.mt-50.py-15
            span.divider-separator.w-full
  section.lqd-section.module-menu.pt-45
    .container
      .row
        .w-30percent.flex.flex-auto.flex-col.mb-20(class='lg:w-33percent sm:w-50percent')
          .ld-fancy-heading.relative
            h3.ld-fh-element.inline-block.relative.text-10.uppercase.tracking-2.mb-3em.text-white-30 Company
          .lqd-fancy-menu.lqd-custom-menu.relative.lqd-menu-td-none
            ul.reset-ul.link-15
              li.mb-20
                a.text-white-70(href='about')
                  span.link-icon.inline-flex.hide-if-empty.left-icon.icon-next-to-label
                  |                     About
              li.mb-20
                a.text-white-70(href='services')
                  span.link-icon.inline-flex.hide-if-empty.left-icon.icon-next-to-label
                  |                     Services
              li.mb-20
                a.text-white-70(href='projects')
                  span.link-icon.inline-flex.hide-if-empty.left-icon.icon-next-to-label
                  |                     Projects
              li.mb-20
                a.text-white-70(href='/#reviews')
                  span.link-icon.inline-flex.hide-if-empty.left-icon.icon-next-to-label
                  |                     Reviews
        .w-30percent.flex.flex-auto.flex-col.mb-20(class='lg:w-33percent sm:w-full')
          .ld-fancy-heading.relative
            h3.ld-fh-element.inline-block.relative.text-10.uppercase.tracking-2.mb-3em.text-white-30 Need help?
          .ld-fancy-heading.relative
            h3.ld-fh-element.inline-block.relative.text-10.uppercase.tracking-2.mb-1em.text-white-30 Call us directly
          .ld-fancy-heading.relative.mb-1em
            h5.ld-fh-element.inline-block.relative.text-18.font-semibold(class='mb-0/5em')
              a.text-white(href='tel:+6583330668') +65 83330668
          .ld-fancy-heading.relative
            h3.ld-fh-element.inline-block.relative.text-10.uppercase.tracking-2.mb-1em.text-white-30 Need support?
          .ld-fancy-heading.relative
            h5.ld-fh-element.inline-block.relative(class='mb-0/5em')
              span.text-18.font-semibold
                a.text-white(href='mailto:enquiry@dvinsconceptzion.com') enquiry@dvinsconceptzion.com
        .w-30percent.flex.flex-auto.flex-col.mb-20.module-col(class='lg:w-full')
          .ld-fancy-heading.relative
            h3.ld-fh-element.inline-block.relative.text-10.uppercase.tracking-2.mb-3em.text-white-30 KEEP IN TOUCH
          .ld-sf.relative.ld-sf--input-underlined.ld-sf--button-naked.ld-sf--size-sm.ld-sf--circle.ld-sf--inputs-has-border.ld-sf--border-thin.ld-sf--button-show.ld-sf--button-inside
            form.ld_sf_form.relative(method='post' action='#')
              p.relative
                input.block.w-full.text-white-50.text-14.border-white-20(type='email' name='email' placeholder='Enter your email address')
              button.inline-flex.items-center.justify-center.m-0.text-12.font-bold.text-white(type='submit')
                span.text-17.text-white
                  i.lqd-icn-ess.icon-ion-ios-arrow-forward
                span.ld-sf-spinner.rounded-full.absolute.overflow-hidden
                  span.block.lqd-overlay.flex.rounded-full Sending
            .ld_sf_response
  section.lqd-section.module-info.pt-50.pb-90
    .container
      .row.items-center
        .col-12.col-md-4.module-col
          .lqd-imggrp-single.block.relative
            .lqd-imggrp-img-container.inline-flex.relative.items-center.justify-center
              figure.w-full.relative
                img(width='180' height='11' src='./assets/images/logo/logo-light-1.svg' alt='asymetric 9')
        .col.col-12.col-md-4.text-center.module-col(class='sm:text-start')
          .ld-fancy-heading.relative
            p.ld-fh-element.inline-block.relative.text-14.text-white-50(class='mb-0/5em') &copy; 2015-2023 Dvins Conceptzion.
        .col.col-12.col-md-4.text-end(class='sm:text-start')
          .social-icons-wrapper.gap-50
            a.icon.social-icon.social-icon-facebook(href='https://www.facebook.com/DvinsConceptzion/' target='_blank')
              span.sr-only Facebook
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 512 512')
                path(d='M504 256C504 119 393 8 256 8S8 119 8 256c0 123.78 90.69 226.38 209.25 245V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.28c-30.8 0-40.41 19.12-40.41 38.73V256h68.78l-11 71.69h-57.78V501C413.31 482.38 504 379.78 504 256z' fill='#FFFFFFA1')
            a.icon.social-icon.social-icon-twitter(href='#' target='_blank')
              span.sr-only Twitter
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 512 512')
                path(d='M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z' fill='#FFFFFFA1')
