script(src='./assets/vendors/jquery.min.js')
script(src='./assets/vendors/jquery-ui/jquery-ui.min.js')
script(src='./assets/vendors/bootstrap/js/bootstrap.min.js')
script(src='./assets/vendors/fastdom/fastdom.min.js')
script(src='./assets/vendors/fresco/js/fresco.js')
script(src='./assets/vendors/lity/lity.min.js')
script(src='./assets/vendors/gsap/minified/gsap.min.js')
script(src='./assets/vendors/gsap/utils/CustomEase.min.js')
script(src='./assets/vendors/gsap/minified/ScrollTrigger.min.js')
script(src='./assets/vendors/fontfaceobserver.js')
script(src='./assets/vendors/gsap/utils/SplitText.min.js')
script(src='./assets/vendors/flickity/flickity.pkgd.min.js')
script(src='./assets/vendors/matter/matter.min.js')
script(src='./assets/vendors/isotope/isotope.pkgd.min.js')
script(src='./assets/vendors/isotope/packery-mode.pkgd.min.js')
script(src='./assets/vendors/section-flow/liquidSectionFlow.min.js')
script(src='./assets/vendors/flickity/flickity-fade.min.js')
script(src='./assets/vendors/body-clip/liquidBodyClip.min.js')
script(src='./assets/vendors/particles.min.js')
script(src='./assets/vendors/tinycolor-min.js')
script(src='./assets/js/theme.min.js')
script(src='./assets/js/liquid-ajax-contact-form.min.js')
