// Start Banner
section#banner.lqd-section.banner.pt-20.px-75.pb-80
  .container-fluid
    .lqd-vslider
      .rounded-6.lqd-vslider-scrn.w-full.relative.overflow-hidden(data-lqd-slideshow='true' data-inview='true')
        span.lqd-vslider-loader.inline-flex.items-center.justify-center.absolute.z-3
          span.inline-flex.rounded-full
        .lqd-vslider-scrn-inner.relative.overflow-hidden.h-full
          .lqd-vslider-ext.lqd-overlay.flex.relative.z-2.h-auto
            ul.w-full.link-18.link-font-normal.link-white.reset-ul
              li.pt-1rem.pr-1rem.pl-1rem.m-0.absolute
                .flex.flex-col.pr-40percent.items-start(class='sm:pr-0')
                  h2.leading-1em.text-white(class='mb-0/5em') Your Space, Your Story, Our Design.
              li.pt-1rem.pr-1rem.pl-1rem.m-0.absolute.is-active
                .flex.flex-col.pr-40percent.items-start(class='sm:pr-0')
                  h2.leading-1em.text-white(class='mb-0/5em') Elevate Your Space, Elevate Your Life.
              li.pt-1rem.pr-1rem.pl-1rem.m-0.absolute
                .flex.flex-col.pr-40percent.items-start(class='sm:pr-0')
                  h2.leading-1em.text-white(class='mb-0/5em') Designing Your World, One Room at a Time.
              li.pt-1rem.pr-1rem.pl-1rem.m-0.absolute
                .flex.flex-col.pr-40percent.items-start(class='sm:pr-0')
                  h2.leading-1em.text-white(class='mb-0/5em') Creating Artistry Through Interior Alchemy.
          .lqd-vslider-images.lqd-overlay.flex.z-0
            figure.absolute.overflow-hidden.is-active
              img.w-full.h-full.lqd-overlay.flex.objfit-cover.objfit-center(src='./assets/images/banner/living-room.webp' alt='banner')
            figure.absolute.overflow-hidden
              img.w-full.h-full.lqd-overlay.flex.objfit-cover.objfit-center(src='./assets/images/banner/house.webp' alt='banner')
            figure.absolute.overflow-hidden
              img.w-full.h-full.lqd-overlay.flex.objfit-cover.objfit-center(src='./assets/images/banner/office-interior.webp' alt='banner')
            figure.absolute.overflow-hidden
              img.w-full.h-full.lqd-overlay.flex.objfit-cover.objfit-center(src='./assets/images/banner/home.webp' alt='banner')
          .lqd-vslider-menu.lqd-overlay.flex.z-1
            ul.reset-ul.flex.flex-col.lqd-overlay.flex.text-vertical
              li.flex.items-end.m-0.relative.is-active(class='p-1/5rem')
                a.lqd-webgl-slideshow-link(class='p-1/5rem' href='#')
                  span.inline-flex Designing &amp; Consultation
              li.flex.items-end.m-0.relative(class='p-1/5rem')
                a.lqd-webgl-slideshow-link(class='p-1/5rem' href='#')
                  span.inline-flex Interior Construction
              li.flex.items-end.m-0.relative(class='p-1/5rem')
                a.lqd-webgl-slideshow-link(class='p-1/5rem' href='#')
                  span.inline-flex M&amp;E Works
              li.flex.items-end.m-0.relative(class='p-1/5rem')
                a.lqd-webgl-slideshow-link(class='p-1/5rem' href='#')
                  span.inline-flex Masonary Works
        span.lqd-extra-cursor.fixed.pointer-events-none
// End Banner
