// Start Contact
section#contact.lqd-section.contact.pt-60.pb-110
  .container
    .row
      .w-45percent.module-content(class='sm:w-full')
        .ld-fancy-heading.relative
          h4.ld-fh-element.inline-block.relative(class='mb-1/5em') Ready to Transform Your Space? Reach Out to Us at #{contact_email}
      .w-50percent(class='sm:w-full' style='margin: auto 0')
        .flex.justify-center.items-center
          a.button.btn.text-14.font-bold.uppercase.leading-1em.tracking-1.text-black.border-2.rounded-100.btn.px-1em.mr-10(href='#contact-modal' class='py-0/6em hover:bg-black hover:text-white' data-lity='#contact-modal')
            span.btn-txt(data-text='Send a message') Send a message
          a.text-14.font-bold.uppercase.leading-1em.tracking-1.text-black.rounded-100.btn.btn-solid.btn-custom-size.btn-icon-block.btn-icon-top.w-35.h-35.bg-accent.mr-10.border-none.p-0.w-35.h-35(href='#' target='_blank' rel='nofollow')
            span.btn-icon.w-1em
              svg(xmlns='http://www.w3.org/2000/svg' width='10.625' height='10.625' viewbox='0 0 10.625 10.625')
                path(d='M-1.76-11.322H5.313V-4.25H3.885V-8.932L-4.316-.7l-1-1,8.2-8.234H-1.76Z' transform='translate(5.313 11.322)')
      .col.col-m-d-1(class='xs:hidden sm:hidden')
// End Contact
