// Start Section Flow
section.lqd-section.section-flow.bg-white.rounded-10.mb-110
  .container-fluid
    .row
      .col.col-12
        .lqd-section-flow.items-start.flex-wrap(data-lqd-section-flow='true')
          .lqd-section-flow-panel.lqd-section-flow-panel-start.col-lg-6.h-vh-100.px-0.sticky.top-0.left-0.overflow-hidden
            .lqd-section-flow-panel-start-inner
              .lqd-section-flow-item.lqd-overlay.flex.overflow-hidden
                .lqd-section-flow-item-inner.h-vh-100
                  img.h-full.objfit-cover.objpos-center(src='./assets/images/section-flow/modern-kitchen.webp' title='section-flow-1' alt='section-flow-1')
              .lqd-section-flow-item.lqd-overlay.flex.overflow-hidden
                .lqd-section-flow-item-inner.h-vh-100
                  img.h-full.objfit-cover.objpos-center(src='./assets/images/section-flow/living-room.webp' title='Img' alt='Img')
              .lqd-section-flow-item.lqd-overlay.flex.overflow-hidden
                .lqd-section-flow-item-inner.h-vh-100
                  img.h-full.objfit-cover.objpos-center(src='./assets/images/section-flow/hotel.webp' title='Img-1' alt='Img-1')
          .lqd-section-flow-panel.lqd-section-flow-panel-end.col-lg-6
            .lqd-section-flow-item.flex.items-center
              .lqd-section-flow-item-inner
                .lqd-section-flow-content-mobile.mb-30
                  img(src='./assets/images/section-flow/modern-kitchen.webp' title='section-flow-1' alt='section-flow-1')
                .flex.flex-wrap.py-20percent
                  .ld-fancy-heading.relative.py-5.px-15.leading-1.bg-gray.rounded-4.mb-15
                    h6.ld-fh-element.inline-block.relative.text-10.font-bold.uppercase.tracking-1.m-0 Elevated Spaces
                  .ld-fancy-heading.relative
                    h2.ld-fh-element.inline-block.relative.text-42(class='leading-0/9em mb-0/75em') World-Class Interior Design for Timeless Elegance
                    p.text-16
                      | Our world-class interior designs create timeless elegance for your space, blending clarity and sophistication to reflect your unique style.
            .lqd-section-flow-item.flex.items-center
              .lqd-section-flow-item-inner
                .lqd-section-flow-content-mobile.mb-30
                  img(src='./assets/images/section-flow/living-room.webp' title='Img' alt='Img')
                .flex.flex-wrap.py-20percent
                  .ld-fancy-heading.relative.py-5.px-15.leading-1.bg-gray.rounded-4.mb-15
                    h6.ld-fh-element.inline-block.relative.text-10.font-bold.uppercase.tracking-1.m-0 Design Experience
                  .ld-fancy-heading.relative
                    h2.ld-fh-element.inline-block.relative.text-42(class='leading-0/9em mb-0/75em') Explore the Essence of Design Excellence
                    p.text-16
                      | Our design experience is a seamless journey of creativity and collaboration, resulting in an interior design that perfectly reflects your vision.
            .lqd-section-flow-item.flex.items-center
              .lqd-section-flow-item-inner
                .lqd-section-flow-content-mobile.mb-30
                  img(src='./assets/images/section-flow/hotel.webp' title='Img-1' alt='Img-1')
                .flex.flex-wrap.py-20percent
                  .ld-fancy-heading.relative.py-5.px-15.leading-1.bg-gray.rounded-4.mb-15
                    h6.ld-fh-element.inline-block.relative.text-10.font-bold.uppercase.tracking-1.m-0 Design Excellence
                  .ld-fancy-heading.relative
                    h2.ld-fh-element.inline-block.relative.text-42(class='leading-0/9em mb-0/75em') Elevate Your Space to the Pinnacle of Design
                    p.text-16.leading-18
                      | Our world-class interior designers elevate your space to the pinnacle of design, creating a haven of sophistication and elegance where you can relax, unwind, and enjoy the finer things in life.
// End Section Flow
