// Start Our Services
section#our-services.lqd-section.our-services.py-10
  .container
    .row
      .w-45percent.relative.flex.justify-between.module-col(class='sm:w-full')
        .relative.w-190.module-img-1
          .mt-55.lqd-imggrp-single.block.relative(data-shadow-style='2' data-animate-shadow='true' data-inview='true' data-inview-options='{"delayTime" :200}')
            .lqd-imggrp-img-container.inline-flex.relative.items-center.justify-center
              figure.w-full.relative.rounded-2
                img.rounded-2(src='./assets/images/what-we-do/consult.webp' alt='what we do')
        .relative.w-230.module-img-2
          .lqd-imggrp-single.block.relative(data-shadow-style='4' data-animate-shadow='true' data-inview='true' data-inview-options='{"delayTime" :300}')
            .lqd-imggrp-img-container.inline-flex.relative.items-center.justify-center
              figure.w-full.relative.rounded-2
                img.rounded-2(width='347' height='446' src='./assets/images/what-we-do/design.webp' alt='what we do')
        .absolute.top-45percent.max-w-full.z-1.module-img-3
          .lqd-imggrp-single.block.relative(data-shadow-style='1' data-animate-shadow='true' data-inview='true')
            .lqd-imggrp-img-container.inline-flex.relative.items-center.justify-center
              figure.w-full.relative.rounded-2
                img.rounded-2(src='./assets/images/what-we-do/design-process.webp' alt='what we do')
      .w-55percent.pl-10percent(class='sm:w-full sm:p-0' data-custom-animations='true' data-ca-options='{"animationTarget": ".animation-element", "ease": "back.out", "initValues": {"x": "30px", "rotationY" :30, "opacity" : 0} , "animations": {"x": "0px", "rotationY" :0, "opacity" : 1}}')
        .flex.justify-start.items-center
          a.button.btn.text-14.font-bold.uppercase.leading-1em.tracking-1.text-black.border-2.rounded-100.whitespace-nowrap.px-1em.mr-10.animation-element(href='services' class='py-0/6em hover:bg-black hover:text-white')
            span.btn-txt(data-text='our services') Our Services
          a.button.btn.btn-solid.btn-custom-size.btn-icon-block.btn-icon-top.w-35.h-35.bg-accent.mr-10.text-black.rounded-full.animation-element(href='services')
            span.btn-icon.w-1em
              svg(xmlns='http://www.w3.org/2000/svg' width='10.625' height='10.625' viewbox='0 0 10.625 10.625')
                path(d='M-1.76-11.322H5.313V-4.25H3.885V-8.932L-4.316-.7l-1-1,8.2-8.234H-1.76Z' transform='translate(5.313 11.322)')
        .ld-fancy-heading.relative.animation-element
          h3.ld-fh-element.text-30.mb-1em.inline-block.relative(class='leading-1/2em mt-0/75em') We help you bring your design dreams to life, in every space.
        .ld-fancy-heading.relative.animation-element
          h6.ld-fh-element.text-16.mb-1em.inline-block.relative
            | 01
            u.ml-15 Designing &amp; Consultation
        .ld-fancy-heading.relative.animation-element
          h6.ld-fh-element.text-16.mb-1em.inline-block.relative
            | 02
            u.ml-15 Project Management
        .ld-fancy-heading.relative.animation-element
          h6.ld-fh-element.text-16.mb-1em.inline-block.relative
            | 03
            u.ml-15 Space Planning
        .ld-fancy-heading.relative.animation-element
          h6.ld-fh-element.text-16.mb-1em.inline-block.relative
            | 04
            u.ml-15 Interior Construction
        .ld-fancy-heading.relative.animation-element
          h6.ld-fh-element.text-16.mb-1em.inline-block.relative
            | 05
            u.ml-15 M &amp; E Works
        .ld-fancy-heading.relative.animation-element
          h6.ld-fh-element.text-16.mb-1em.inline-block.relative
            | 06
            u.ml-15 Masonry Works
// End Our Services
