// Start Solutions
section.lqd-section.solutions.pt-160.pb-80(data-custom-animations='true' data-ca-options='{"animationTarget": ".animation-element", "ease": "back.out", "initValues": {"y": "50px", "z": "50px", "rotationY" :20, "opacity" : 0} , "animations": {"y": "0px", "z": "0px", "rotationY" :0, "opacity" : 1}}')
  .container
    .row
      .col.col-12.col-xl-3
        .flex.flex-col.items-start.module-title
          .w-auto.py-5.px-10.rounded-4.bg-gray.text-center.ld-fancy-heading.relative.animation-element
            h6.ld-fh-element.text-10.font-bold.uppercase.tracking-1.m-0.inline-block.relative The process
          .ld-fancy-heading.relative.module-title.animation-element
            h2.ld-fh-element.text-32.mt-1em.inline-block.relative(class='mb-0/5em') Magical design solutions.
      .col.col-12.col-xl-9
        .flex.gap-60.module-box(class='sm:flex-wrap')
          .w-full.flex.flex-col
            .ld-fancy-heading.relative.animation-element
              h2.ld-fh-element.text-15.tracking-0.inline-block.relative(class='mb-1/25em')
                span.text-24.pr-10 01
                span.font-normal.pr-5 /
                span Project discovery
            .ld-fancy-heading.relative.animation-element
              p.ld-fh-element.inline-block.relative.text-13.leading-16(class='mb-0/5em')
                | We begin by delving into your design aspirations, getting to know your unique vision and desires for your space.!
          .w-full.flex.flex-col
            .ld-fancy-heading.relative.animation-element
              h2.ld-fh-element.text-15.tracking-0.inline-block.relative(class='mb-1/25em')
                span.text-24.pr-10 02
                span.font-normal.pr-5 /
                span Design
            .ld-fancy-heading.relative.animation-element
              p.ld-fh-element.inline-block.relative.text-13.leading-16(class='mb-0/5em')
                | Our expert team meticulously designs a customized plan, infusing your space with the perfect blend of style, color, and personality.
          .w-full.flex.flex-col
            .ld-fancy-heading.relative.animation-element
              h2.ld-fh-element.text-15.tracking-0.inline-block.relative(class='mb-1/25em')
                span.text-24.pr-10 03
                span.font-normal.pr-5 /
                span Development
            .ld-fancy-heading.relative.animation-element
              p.ld-fh-element.inline-block.relative.text-13.leading-16(class='mb-0/5em')
                | With great care and attention to detail, we bring the design to life, sourcing and placing every element, ensuring a harmonious and functional space.
          .w-full.flex.flex-col
            .ld-fancy-heading.relative.animation-element
              h2.ld-fh-element.text-15.tracking-0.inline-block.relative(class='mb-1/25em')
                span.text-24.pr-10 04
                span.font-normal.pr-5 /
                span Final Touches
            .ld-fancy-heading.relative.animation-element
              p.ld-fh-element.inline-block.relative.text-13.leading-16(class='mb-0/5em')
                | As we add the finishing touches, your space is elevated to a new level of beauty and comfort, leaving you absolutely delighted with the transformation.
// End Solutions
