// Start Testimonials
section#reviews.lqd-section.testimonials.text-white.mb-80(data-custom-animations='true' data-ca-options='{"animationTarget": ".animation-element", "ease": "back.out", "direction": "backward", "initValues": {"y": "100px", "opacity" : 0} , "animations": {"y": "0px", "opacity" : 1}}')
  .container
    .row
      .w-full.flex.flex-col.items-start.flex-wrap.p-0
        .w-full.flex.flex-wrap.flex-grow-1.items-center.justify-start
          .ld-fancy-heading.relative.animation-element
            h2.ld-fh-element.inline-block.relative.text-white.text-68.mb-0(class='mr-0/5em') Customer stories
          .divider.w-full.max-w-full.items-center.py-30.animation-element
            h5.text-14.uppercase.tracking-1.text-white.mr-20.mb-0 Testimonials
            span.divider-separator.items-center
      .w-full.flex.items-center.justify-start.flex-wrap
      .w-55percent.flex.flex-col.flex-wrap(class='md:w-full')
        .lqd-imggrp-single.block.relative.mb-25.animation-element
          .lqd-imggrp-img-container.inline-flex.relative.items-center.justify-center
            figure.w-full.relative
              img(width='26' height='26' src='./assets/images/testimonials/Quote.svg' alt='testimonials')
        .carousel-container.relative.carousel-nav-left.carousel-nav-sm.carousel-nav-shaped.carousel-nav-solid.carousel-nav-circle.carousel-nav-left.carousel-dots-inside.carousel-dots-mobile-outside.carousel-dots-mobile-left.animation-element
          .carousel-items.relative(data-lqd-flickity='{"prevNextButtons": true, "navArrow": "6", "pageDots": true, "dotsIndicator": "numbers", "numbersStyle": "circle", "dotsAppendTo": "#testimonial-carousel-dots-holder", "cellAlign": "left", "groupCells": false, "buttonsAppendTo": "self", "addSlideNumbersToArrows": false}')
            .carousel-item.flex.flex-col.justify-center
              .carousel-item-inner.relative.w-full.mb-20
                .carousel-item-content.relative.w-full.text-20.text-white.leading-1em
                  p
                    | Thumbs up, we love the home very much with what melvin created. Thank you, Melvin!
            .carousel-item.flex.flex-col.justify-center
              .carousel-item-inner.relative.w-full.mb-20
                .carousel-item-content.relative.w-full.text-20.text-white.leading-1em
                  p
                    | Melvin is very kind, very patient and dedicated to our changing design needs which truly made the process a pleasure.
            .carousel-item.flex.flex-col.justify-center
              .carousel-item-inner.relative.w-full.mb-20
                .carousel-item-content.relative.w-full.text-20.text-white.leading-1em
                  p
                    | The white and clean look designed by Melvin is really a masterpiece. our space feels refreshing and inviting.
            .carousel-item.flex.flex-col.justify-center
              .carousel-item-inner.relative.w-full.mb-20
                .carousel-item-content.relative.w-full.text-20.text-white.leading-1em
                  p
                    | Melvin was great, he arranged everything including buying the mattress. we just carry our luggage &amp; shift in, making our move-in effortless. Exceptional work!
      #testimonial-carousel-dots-holder.w-45percent.relative.flex.items-center.justify-center.flex-wrap(class='md:hidden')
// End Testimonials
