// Start Our Vision
section.lqd-section.our-vision.pt-80.min-h-70vh
  .container
    .row
      .col.col-12.mb-220
        .mb-30.lqd-imggrp-single.block.relative
          .lqd-imggrp-img-container.inline-flex.relative.items-center.justify-center
            figure.w-full.relative
              img(width='48' height='10' src='./assets/images/shape/shape.svg' alt='shape')
        h3.lqd-text-reveal-el.mb-40.text-74.font-semibold.-tracking-3.text-white(class='leading-0/9em' data-split-text='true' data-split-options='{"type": "words, chars"}' data-parallax='true' data-parallax-options='{"parallaxTargets": ".lqd-chars, figure", "start": "top bottom", "end": "center 75%", "scrub" : 3}' data-parallax-from='{"opacity" :0.2}' data-parallax-to='{"opacity" :1, "stagger": {"from": "start", "each" : 1}}')
          span.lqd-adv-txt-item
            span
              | We craft captivating interior spaces through a deep understanding of design aesthetics, strategic vision, and a touch of emotion.
            span.vertical-align-top.mx-5.lqd-adv-txt-fig.relative.inline-flex
              img.h-auto.max-w-full.border-none.rounded-0(src='./assets/images/shape/sphere-1.png' alt='shape')
          span.lqd-adv-txt-item Developing the most exquisite interior designs in the industry.
        .flex.justify-start.items-center
          .w-auto.mr-10.py-5.border-2.border-white.rounded-100.px-15.ld-fancy-heading.relative
            h5.ld-fh-element.text-14.uppercase.tracking-1.m-0.text-white.inline-block.relative Our vision
          span.text-14.font-bold.uppercase.leading-1em.tracking-1.text-black.rounded-100.btn.btn-solid.btn-custom-size.btn-icon-block.btn-icon-top.w-30.h-30.bg-accent.mr-10.border-none.p-0(href='#' rel='nofollow')
            span.btn-icon.w-1em
              svg(xmlns='http://www.w3.org/2000/svg' width='10.625' height='10.625' viewbox='0 0 10.625 10.625')
                path(d='M-1.76-11.322H5.313V-4.25H3.885V-8.932L-4.316-.7l-1-1,8.2-8.234H-1.76Z' transform='translate(5.313 11.322)')
// End Our Vision
